<button id="back"><i class="fas fa-home"></i></button>
<div id="fundo">
    <h1 id="title">Clientes</h1>
    <div id="opcoes">
        <select id="fieldsearch">
            <option value="nome">Nome</option>
            <option value="nome_empresa">Nome da Empresa</option>
            <option value="id">Id</option>
            <option value="telefone">Telefone</option>
        </select>
        <input id="inputsearch" type="search" placeholder="digite o nome...">
        <button ><i class="fas fa-search"></i></button>
        <button ><i id="newcliente" class="fas fa-user-plus"></i></button>
        <br><br>
    </div>
    <hr>
    {{#if clientes.length}}
    <h2>Clientes Cadastrados</h2>
        <div id="exibirclientes">
            <div class="card-container">
            {{#each clientes}}
                <div class="card">
                    <h3 class="campo-nome">{{this.nome}}</h3>
                    <p><strong>ID:</strong> <span class="campo-id">{{this.id}}</span></p>
                    <p><strong>Telefone:</strong> <span class="campo-telefone">{{this.telefone}}</span></p>
                    <p><strong>CPF:</strong> {{this.cpf}}</p>
                    <p><strong>Nome da Empresa :</strong> <span class="campo-nome-empresa">{{this.nome_empresa}}</span></p>
                    <a href="/clientes/editar/{{this.id}}/"><button>Editar</button></a>
                    <a href="/clientes/detalhes/{{this.id}}/"><button>Detalhes</button></a>
                
                    <button onclick="deletarCliente({{this.id}})">Excluir</button>
                </div>
            {{/each}}
            </div>
        </div>
    {{else}}
        <h2>Você ainda não cadastrou nenhum cliente!</h2>
    {{/if}}
        
    

<!-- confirmaçcao da exclusão -->

    <div id="modalConfirm" style="display: none; position: fixed; top: 0; left: 0; 
        width: 100%; height: 100%; background-color: rgba(0,0,0,0.6); 
        z-index: 999; justify-content: center; align-items: center;">

        <div style="background-color: white; padding: 20px; border-radius: 10px; text-align: center;">
            <h2>Tem certeza que deseja excluir este cliente?</h2>
            <br>
            <button onclick="confirmarExclusao()">Sim</button>
            <button onclick="fecharModal()">Cancelar</button>
        </div>
    </div>

            
    
</div>