<div id="container-medidas">
    <h1>Cadastro de Medidas</h1>
    <div id="container-form">
        <form id="form">
            <label>Busto:</label>
            <br>
            <input id="inputBusto" name="busto" value="{{MedidasCliente.busto}}">
            <br><br>

            <label>Cintura:</label>
            <br>
            <input id="inputCintura" name="cintura" value="{{MedidasCliente.cintura}}">
            <br><br>

            <label>Quadril:</label>
            <br>
            <input id="inputQuadril" name="quadril" value="{{MedidasCliente.quadril}}">
            <br><br>

            <label>Comprimento</label>
            <br>
            <input id="inputComprimento" name="comprimento" value="{{MedidasCliente.comprimento}}">
            <br><br>

            <label>Ombro:</label>
            <br>
            <input id="inputOmbro" name="ombro" value="{{MedidasCliente.ombro}}">
            <br><br>

            <label>Costas:</label>
            <br>
            <input id="inputCostas" name="costas" value="{{MedidasCliente.costas}}">
            <br><br>

            <label>Comprimento da Manga:</label>
            <br>
            <input id="inputCManga" name="comprimento_da_manga" value="{{MedidasCliente.comprimento_da_manga}}">
            <br><br>

            <label>Largura da Manga</label>
            <br>
            <input id="inputLManga" name="largura_da_manga" value="{{MedidasCliente.largura_da_manga}}">
            <br><br>

            <input id="medidaId" type="hidden" value="{{MedidasCliente.id}}">
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
    
